body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    border-bottom: 2px solid #aaa;
    padding-bottom: 10px;
    text-align: left;
    margin-left: 20px;
}
h1 {
    font-size: 1.5em;
    margin-bottom: 5px;
}
h2 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}
.content {
    margin: 20px;
    overflow: hidden;
}
p {
    line-height: 1.25;
}
.sidebar {
    overflow: hidden;
    float: right;
    border: 2px solid #aaa;
    background-color: #f9f9f9;
    padding: 10px;
    height: auto;
    margin: 5px;
    width: 20%;
    
}
.sidebar img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 5px;
}
.info-table {
    width: 100%;
}
.info-table td {
    padding: 5px;
}
